.wrapper {
    width: 100%;
}

.wrapper-inner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


/* header styles */
.header{
    background-color: black;
    text-align: center;
}
.header p{
    color: greenyellow;
    font-size: 20px;
}
.header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.header li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.header ul {
    margin: 0;
}
.banner{
    background-image: url(img/bg_1.jpeg);
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 40px;
    background-position: center;
}

/* menu section */
.menu .wrapper-inner {
    display: flex;
}
.menu .food{
    display: flex;
    margin-bottom: 24px;
}
.dishes {
    flex-basis: 37%;
}
.dishes ul{
    text-transform:uppercase;
    font-size: medium;
    list-style: none;
}
.dishes li{
    margin-bottom: 10px;
}
.icons{
    background-image: url(img/bg_1.jpeg);
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

.icons a {
    text-decoration: none;
}

.icons a i {
    color:brown;
    font-size: 25px;
    margin-right: 23px;
    text-decoration: none;
    transition: all .5s;
}
.icons a:hover i {
    color: black;
    transform: rotate(360deg);
}

.footer {
    background-color: #000;
    padding: 70px 0;
}
.footer .wrapper-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-logo,
.footer-menu,
.footer-contact{
    flex: 1 1 33%;
}
.footer-contact a{
    display: block;
    color: white;
    text-decoration: none;
}
.footer-menu a{
    display: inline-block;
    color: white;
    text-decoration: none;
}